/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html,body{
    height: 100%;
    width: 100%;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles VHTO
   ========================================================================== */
.video-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
        //Centre video
        video{
            //Full screen
            min-width: 100%;
            min-height: 100%; 
            //
            width: auto;
            height: auto;
            //Centre  
            position: absolute;
            top: 50%;
            left: 50%;  
            -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);  
        }
}
//Style for navigation
.navigation{
    li{
        @extend .medium;
        padding: 5px 10px;
        transition: all 0.3s;
        //Adds hover black square to li
        &:hover{
            background-color:rgba(0,0,0,0.3);
        }
        //extends medium class
        a{
            color: white;
            cursor: pointer;
            &:hover{
                //Quit underline
                text-decoration: none;
            }

        }
    }
}
//Class for sticky navigation
#description{
    ul{
        margin:0px;
    }
    &.absolute{
        bottom:0px; //default bottom px
    }
    &.fixed{
        top:0px; //navigation positioned with fixed
    }
}
.oswald{
    font-family: 'Oswald', sans-serif;
}
.pattaya{
    font-family: 'Pattaya', sans-serif;
}
.large-padding{
    padding:10px 15px;
}
.absolute{
    position: absolute;
}
.title{
    font-size: 5em;
}

.fixed{
    position: fixed;
}

.top{
    top: 2em;
}
.right{
    right: 5em;
}
//text To bottom
.bottom{
    bottom:0px;
}
.full-width{
    width: 100%;
}

//background-images Css class
.food{
    height: 300px;
    background-size:cover; //cover property search best image size
    background-position: center;    
    padding:0px;
    overflow: hidden;
    &:hover{
        .screen{
            top:0%;
        }
    }
    .screen{
        top: -100%;
        position: relative;
        background-color: rgba(0,0,0,0.8);
        height: 100%;
        width: 100%;
        transition:top 0.2s;
    }
}
//centrar y estilo div menú
#menu-title{
    width: 300px;
    z-index: 4;
    top:50%;
    left:calc(50% - 150px); 
    top:calc(50% - 2.5em);
}

#gallery{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    .inner{
        white-space: nowrap;
        position: relative;
        left: 0%;
        transition: left 0.5s;
    }
    height: 100%;
    .image{
       
        display: inline-block;
        margin-right: -4px;
        height:100vh;
        width: 100%;
        background-size:cover;
        background-position:center;
    }
}

.container{
    .card{
        margin-top: -110px;
        padding:2em;
    }
}
#contact{
    margin-top: -200px;
}
.path-step{//class for form buttons
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #a2a2a2;
    display:block;
    margin-top: 2em;
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        shadow: 0px 0px 5px rgba(250,250,250,0.8);
        opacity: 0.9;
    }
    &.active{
        opacity: 1;
        background-color: white;
        shadow: 0px 0px 5px rgba(250,250,250,0.8);
    }
}
.step-form{
    .step{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.9s;
        margin:0px;
        &.active{ //selector, when is active
            padding: 1em 0.5em; //padding:(upanddown rightandleft)
            max-height: 150px;
        }
        input, textarea{
            font-size: 2em;
            padding: 0.5em;
            border:none;
            outline: none;
            border-bottom: solid 1px #eee;
            background-color:transparent;
            width: 100%;
        }
    }
}
#location{
    width: 80%;
    margin: 0 auto;
    margin-top: -50px;
}
#map{
    height: 500px;
}
#menu-opener{
    display: none;
}
/* ==========================================================================
   Helper classes VHTO
   ========================================================================== */
//.card shadow style
.card{
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.black-text{
    color: black;
}

.black{
    background-color: #222;
 }
 .white{
    background-color:white;
 }
 .medium{
    font-size: 1.5em;
 }
 .subtitle{
    font-size: 2.5em;
 }
.white-text{
    color: white;
 }
.relative{
    position: relative;
}
.up{
    z-index: 5;
}
.full-height{
    height: 100%;
}
.row{
    margin:0;
}
.hidden {
    display: none;
}
/*
 * Hide visually and from screen readers
 */



/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


@media only screen and (max-height: 600px ){//media query for height responsive design
    #contact{
        margin-top:-15%;
    }
}
@media only screen and (max-width: 960px ){
    #menu-opener{
        display: block;
    }
    //move the circles in the form depending the size of the screnn
    .path-step{
        display: inline-block;
        margin-right: 1em;
    }
    #responsive-nav{
        ul{
            position: absolute;
            width: 100%;
            font-size: 1.5em;
            top:80px;
            background-color:#222;
            left: 0px;
            text-align: center;
            max-height: 0px;
            overflow:hidden;
            transition: all 0.4s;
            &.active{
                max-height: 80vh; 
            }
            li{
                display: block;
                margin-top: 1em;
                padding:10px 15px;
            }
        }
    }
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
//media query for responsive design VHTO
@media only screen and (max-width: 250px ){
    #responsive-nav{
        ul{
           top:130px; 
        }
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}