-gallery_images = ["granos.jpg","libro.jpg","mesa.jpg","servir.jpg"]
!!!5
%html{class: "no-js", lang:"es-mx"}
	%head
		%meta{charset:"utf-8"}
		%meta{name:"description", content:"Un lugar diferente dedicado a la apreciación del arte y el disfrute de un buen café combinación perfecta para fluir las ideas"}
		-#Styles Links
		-#Normalize
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Oswald|Pattaya", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/style.css"}
		-#Viewport for Responsive Design
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
		-#modernizr for Browser content support
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}

		%title Un arte hecho café
	%body
		-#Browser upgrade validation and message
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Contenido No soportado por navegador.
			Por favor actualiza para una mejor experiencia.
		="<![endif]-->"

		.video-container
			-#Using poster cover property for slow connections
			%video{autoplay:true, loop:true, width:"1280", height:"720", poster:"multimedia/cover/cafe.jpg"}
				%source{src:"multimedia/mp4/cafe.mp4", typ:"video/mp4"}
				%source{src:"multimedia/webm/cafe.webm", typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up.white-text#home
			.col-xs-12
				.box
					%img{src:"multimedia/images/cafelogo.png", width:100}
					%h1.title.pattaya Coffee-Art
					%p#is-open
						-#Adds bootstrap clock icon
						%glyphicon.glyphicon-italic 
						%span.text Abierto ahora
			%nav.fixed.top.right.navigation#navigation
				-#Using ruby cycles to have just 1 navigation list, less coding 
				-menu = [{title:"Home", link:"#home"}, {title:"Menú", link:"#menu"}, {title:"Galería", link:"#gallery"}, {title:"Contacto", link:"#contact"}, {title:"Cómo llegar", link:"#location"}]
				%ul.list-inline
					-menu.each do |item| 
						%li
							%a{href:item[:link]}= item[:title]
			.absolute.black.large-padding.full-width#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						Atención cálida y	café preparado por artistas
					.col-xs.hidden#sticky-navigation
						.box
							%nav.text-right.navigation#responsive-nav
								-#Defining icon for responsive menu and id for show menu in mobile devices
								%i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu-opener
								%ul.list-inline
									-menu.each do |item| 
										%li
											%a.menu-link{href:item[:link]}= item[:title]

	.text-center.relative#menu	
		.absolute.white#menu-title
			%h2.pattaya.title Menú

		-#Array for photos
		-menu_photos = [{name: "Café con galletas", image: "cookies", pricing:"60.00" },{name: "Café", image: "cafe", pricing:"30.00" },{name: "Espresso", image: "espresso", pricing:"50.00" },{name: "Latte", image: "latte", pricing:"60.00" }, {name: "Panquesillos", image: "panes", pricing:"60.00" }, {name: "Café con panqué", image: "panque", pricing:"55.00" }, {name: "Pasteles", image: "pastel", pricing:"45.00" }, {name: "Café con waffles", image: "waffles", pricing:"60.00" }]
		-#Show images in a row
		-#interpolar con función each en arreglo menu_photos para agrear .jpg a imagenes	
		.row
			-menu_photos.each do |photo|
				.col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(multimedia/images/#{photo[:image]}.jpg)"}	
					.screen.text-center.white-text
						.row.middle-xs.full-height
							.col-xs-12				
								%h3.pattaya.subtitle= photo[:name]
								%p.no-margin= photo[:pricing] + " MXN"
		
	#gallery
		.inner
			-gallery_images.each do |image|
				.image{style:"background-image:url(multimedia/images/#{image});"}
	.container	
		.card.white.black-text.text-center.relative
			%h3.medium
				En
				%strong.pattaya.medium coffee-art 
				crear café es un 
				%strong.pattaya.medium arte		
			%p.top
				El sabor de un gran café se basa en el arte del proceso de elaboración hasta servirlo en la mesa
				%br
				%strong.pattaya.medium  -Coffe-Art
		
	.black.white-text.full-height#contact
		.row.middle-xs.full-height
			.col-xs-12
				.box
					%form{action:"https://formspree.io/hugotrejo@gmail.com", method:"POST", id:"contact-form", class:"step-form"}
						.row.center-xs
							.col-xs-12.col-sm-2.col-md-1.first-sm
								.box.text-center
									-#circlos for form buttons
									-3.times do |i|
										-if i == 0
											.path-step.active
										-else
											.path-step
							.col-xs-12.col-sm-3.first-xs
								.box
									%fieldset.step.active
										%input{type:"email", name:"email",placeholder:"Coloca tu correo electrónico", class:"input", required:"true"}
									%fieldset.step
										%input{type:"text", name:"name",placeholder:"Coloca tu nombre", class:"input", required:"true"}
									%fieldset.step
										%textarea{name:"body",placeholder:"Escribe aquí tu mensaje...", class:"input", required:"true"}	
									%button{type:"submit", class:"btn btn-success"}
		
										Enviar
		-#div for map
		#location
			#map
			#message.black.large-padding.white-text.text-center.medium
			
		%script{src:"https://code.jquery.com/jquery-3.1.0.slim.min.js", 
		integrity:"sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=", 
		crossorigin:"anonymous"}
		:javascript
			window.jQuery || document.write("<script src:'js/vendor/jquery-1.12.0.min.js'><\/script>");
		-#import main.js to work the sticky navigation	
		%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyBUplRDQoz-w0KWdHvjvF1Zl-er5mJ-AK0"}
		%script{src:"dist/app.js"}