/*Stylesheet classes for offline view*/
html,body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica-Neue, Arial, Roboto, sans-serif;
	background-color: #eee;
}

#message{
	margin: 0px;
	padding: 10px 15px;
	background-color: #222;
	color:white;
	text-align: center;
}
.container{
	width: 80%;
	margin:0 auto;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 1em;
}
#map{
	max-width: 100%;
}

/*Styles for responsive design*/
@media only screen and (max-width: 960px){
	.container{
		width: 100%;
	}
}